.finished .content {
  text-decoration: line-through;
}

.content,
.delete {
  cursor: pointer;
}

.todo {
  display: flex;
  padding: 0.1rem;
}

.index,
.content {
  flex-grow: 1;
}

.delete {
  border-radius: 9999px;
  width: 20vw;
  flex-grow: 0;
}
